*{
    font-family: 'Inter', sans-serif;
    margin : 0px 2px
}


.imageHolder{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
    width: 250px;
    height: 250px;
    border: 1px solid grey;
    border-radius: 10px;
overflow: hidden;
}

.Image{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.blankImage{
    width: 250px;
    height: 250px;
    object-fit: contain;
    opacity: 40%;
}

.imageLayover{
    
    position: absolute;
    inset: 1;
    z-index: 0;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 250px;
    height: 250px;

}

.shareImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
}
.badge:hover{
    cursor: pointer;
}

.card-body{
    overflow: hidden;
}